.novidade {
  display: flex;
  background: #8041fd;
  align-items: center;
  text-align: end;
  justify-content: center;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 70vw;
  border-radius: 560px;
  height: 170px;
  gap: 20px;
}
.contato form {
  display: flex;
  gap: 5px;
}
.contato #btn-submit {
  height: 60px;
  width: 200px;
  border-radius: 20px;
  border: none;
  background: #bd00ff;
  color: #fff;
}
.novidade h2 {
  color: white;
}

#quer-cnt {
  display: flex;
  justify-content: center;
  margin: 50px 0 60px 0;
  font-size: 32px;
}
.contato-ofc {
  display: flex;
  justify-content: center;
  margin: 40px 0 60px 0;
}

textarea {
  width: 250%;
  height: 238px;
  background: #dccaff;
  border: none;
  padding: 20px;
  border-radius: 20px;
}
.contato-ofc section {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 5px;
  margin-left: -25vw;
  margin-right: 4vw;
  border: 2px solid #8041fd;
  padding: 30px;
  border-radius: 20px;
}
.contato-ofc section label {
  font-size: 22px;
}
.contato-ofc section input {
  height: 40px;
  border-radius: 10px;
}
.contato-ofc section button {
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background: #8041fd;
  color: #fff;
  font-size: 18px;
}
