.servicos {
  margin-top: 15px;
  padding: 50px 20px;
  background-color: #ffffff;
  text-align: center;
}
.servicos::after {
  content: "";
  display: inline-block;
  position: relative;
  margin-top: 25px;
  width: 40%;
  height: 4.8px;

  background: #7a05ff;
  border-radius: 20px;
}
.container-servicos {
  max-width: 1200px;
  margin: 0 auto;
}

.servicos h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #7a05ff;
}

.servicos p {
  font-size: 1.1em;
  color: #666666;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card .icon i {
  font-size: 60px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 1.5em;
  color: #333333;
  margin-bottom: 10px;
}

.card p {
  font-size: 1em;
  color: #666666;
}
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
